.viewMore {
  position: relative;
  overflow: hidden;
  border-radius: 12px 0 12px 0;
  padding: .5rem;
  background: #364AB0;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

/* brilho animado */
.viewMore::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 60%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.5),
        transparent
    );

    transform: skewX(-20deg);
    transition: left .8s ease;
}

.viewMore:hover::before {
    left: 130%;
}

.card:hover .image {
    transform: scale(1.05);
}
